*{
  padding: 0;
  margin: 0;
}

body{
  background-image:  url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.namelabel, .passlabel, .login, .forgot, .lack{
  display: block;
}

.container{
  /* border-radius: 0.75rem; */
  background: #111;
  width: 20rem;
  margin: auto;
  margin-top: 15vh;
  padding: 2rem; 
  padding-bottom: 0.75rem;
}

.icon-container{
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: none;
}
.icon{
  height: 8rem;
  margin: auto;
  margin-top: -5.15rem;
  background-color: #7777dd;
  border-radius: 5rem;
  border: none;
}

h3{
  margin: auto;
  margin-top: 0.75rem;
  color: #f7f7f7;
  font-size: 2.5rem;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.namelabel, .passlabel{
  color: #e7e7e7;
  font-size: 1.25rem;
  font-family: sans-serif;
  letter-spacing: 0.05rem;
  margin-bottom: 0.5rem;;
}

.username, .password{
  width: 20rem;
  margin: auto;
  color: #7d7d7d;
  font-size: 1.25rem;
  font-family: sans-serif;
  letter-spacing: 0.04rem;
  margin-bottom: 1.25rem;
  padding: 0.4rem 1rem;
  padding-left: 0.5rem;
  /* width: 8rem; */
  border-radius: 0.1rem;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
}

.username:focus, .password:focus{
  color: #7777dd;
  border: none;
  border-bottom: 1px solid white;
  outline-color: transparent;
  outline: none;
}

.login{
  font-family: monospace;
  width: 20rem;
  margin: auto;
  padding: 0.5rem 0rem;
  background-color: #7777dd;
  border: none;
  font-size: 1.75rem;
  font-weight: bolder;
  color: #f7f7f7;
  letter-spacing: 0.08rem;
  border-radius: 2rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
}

.login:hover, .forgot:hover, .lack:hover{
  opacity: 0.8;
}

.forgot, .lack{
  cursor: pointer;
  color: #777;
  font-size: 1.05rem;
  font-family: sans-serif;
  line-height: 1.75rem;
}
